<% @posts.each do |post| %>
  <li>
    <% if post.image.exists? %>
      <%= link_to post do %>
        <%= image_tag(post.image.url(:medium), :align => 'center', :id => 'scaled', :'data-hover' => 'tooltip', :'data-placement' => 'top', :title => (post.title)) %>
      <% end %>
    <% end %>
  </li>       
<% end %> 

