
<!-- =============== HEADER ==============================-->
<header class="header">
    <div class="header-inner"> 
        <!-- :: info :: .header-inner acts like container --> 
        <!-- #### logo font  -->
        <%= link_to root_path do %>
            <div class="logo-brand logo-font">
                    <%= embedded_svg 'miPLElogo4.svg', class: 'logo-brand-inner' %>
            </div>
        <% end -%>
        <!-- /.logo-brand-->
        
        <div class="header-btn-bar"> 
            <!-- .menu-toggle --> 
            <a href="#" class="menu-toggle" data-slide="slide" data-target="#navigation-panel"> 
            <!-- this above data-slide toggles the #navigation-panel .slide-panel -->
            <div class="menu-toggle-inner">
                <span class="veggieburger">
                    <span class="lines">
                    </span>
                </span>
                <!--/.veggieburger-->
                <span class="menu-toggle-text">
                    M<i class="fa fa-bars"></i>NU
                </span>
            </div>
            </a> 
            <!-- /.menu-toggle-->
            <div class="header-btn-wrapper clearfix"> 
                <!-- .header-btn-row-->
                <div class="header-btn-row half-row"> 
                    <!-- BEGIN 1st .header-btn .header-btn-xl in first row --> 
                    <a href="#" class="login-toggle header-btn header-btn-xl" data-slide="slide" data-target="#login-panel"> <i class="fa fa-sign-in header-icon"></i>
                    <span class="header-btn-text">
                        Log In / Out
                    </span>
                    </a> 
                    <!-- this above data-slide toggles the #login-panel .slide-panel example --> 
                    <!-- /END 1st .header-btn .header-btn-xl in first row --> 
                    <!-- BEGIN 2nd.header-btn .header-btn-xl in first row -->
                    <div class="has-tooltip">
                        <a href="#" class="signin-toggle header-btn header-btn-xl" data-slide="slide" data-target="#signup-panel" data-hover="tooltip" data-placement="left" title="for email updates"> <i class="fa fa-pencil header-icon"></i>
                        <span class="header-btn-text">
                            Subscribe
                        </span>
                        </a> 
                    </div>
                    <!-- this above data-slide toggles the #signup-panel .slide-panel example --> 
                    <!-- /END 2nd .header-btn .header-btn-xl in first row --> 
                </div>
                <!-- /.header-btn-row-->
                <div class="header-btn-row half-row"> 
                    <!-- BEGIN 3rd .header-btn .header-btn-lg in second row --> 
                        <a href="#" class="anchor header-btn header-btn-lg has-tooltip" data-slide="slide" data-target="#contact-panel" data-hover="tooltip" data-placement="left" title="all of my details"> <i class="fa fa-user-md header-icon"></i>
                        <span class="header-btn-text">
                            Contact
                        </span class = "has-tooltip">
                        </a> 
                    <a href="#" class="header-btn header-btn-sm search-toggle" data-slide="slide" data-target="#search-panel" data-hover="tooltip" data-placement="left" title="search"> <i class="fa fa-search header-icon"></i> </a> 
                    <%= link_to '<i class="fa fa-twitter header-icon"></i>'.html_safe, "http://www.twitter.com/HETIMedDir", :class => 'header-btn header-btn-sm', :'data-hover' => 'tooltip', :'data-placement' => 'left', :title => 'follow me on twitter' %>
                    <a href="https://au.linkedin.com/in/drallewellyn" class="header-btn header-btn-sm" data-hover="tooltip" data-placement="left" title="link me on linkedin"> <i class="fa fa-linkedin header-icon"></i> </a> 
                    <a href="https://github.com/drallewellyn" class="header-btn header-btn-sm" data-hover="tooltip" data-placement="left" title="check me out on the github"> <i class="fa fa-github header-icon"></i> </a> 
                </div>
                <!-- /END .header-btn-row--> 
            </div>
            <!-- /END .header-btn-wrapper--> 
        </div>
        <!-- /END .header-btn-bar --> 
        
    </div>
    <!-- /END .header-inner --> 
</header>
<!-- =============== END HEADER ==============================-->



